#tudo {
    background: url(faculdades_universidade_curso_superior.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#presentation {
    width: 40%;
    height: 70%;
    margin-left: 10%;
    margin-top: 15%;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 1%;
    padding: 1%;
}

.row {
    vertical-align: middle;
    height: 20%;
}

.col-lg-4 {
    vertical-align: middle;
    height: 100%;
    width: 30%;
    margin-left: 3%;
}

#fatorDiv {
  background: url(fatordigital.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#googleDiv {
  background: url(google-partner.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#forWorkDiv {
  background: url(googleForWork.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#fator {
    max-width: 100%;
}

#google {
    max-width: 100%;
}

#googleForWork {
    max-width: 100%;
}

@media screen and (max-width: 500px) {
  #tudo
  {
      background-image: url(bg2short.png);
  }
}
