#tudo {
    background: url(faculdades_universidade_curso_superior.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#presentation {
    width: 35%;
    height: 85%;
    margin-left: 10%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 1%;
    padding: 1%;
}

.col-lg-4 {
    vertical-align: middle;
    height: 100%;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#icons {
    vertical-align: middle;
    width: 90%;
    height: 5%;
    margin-bottom: 5%;
    border: 3px solid #fff;
}

#texto {
  height: 85%;
  width: 90%;
  margin-left: 5%;
  /**border: 3px solid #fff;**/
}

#marketingDigital {
  font-size: 80px;
  font-weight: bold;
  color: rgb(255, 201, 38);
  line-height: 95%;
  margin-bottom: 5%;
}
#instituicoesDeEnsino {
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 115%;
}
#paragrafo {
  margin-top: 5%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

ul {
  margin-top: 2%;
  margin-left: -40px;
}

ul li{
  display: inline;
  font-size: 15px;
  color: rgb(255, 201, 38);
  font-weight: bold;
}

#buttonWrap {
  width: 50%;
  margin-top: 5%;
  border: solid 1px transparent;
  padding: 1%;
  -webkit-transition: border 0.5s, width 0.5s, border-radius 0.5s;
  transition: border 0.5s, width 0.5s, border-radius 0.5s;
  border-radius: 0px;
}

#conhecaOsServicos {
  width: 98%;
  margin-left: 1%;
  border: solid 1px rgb(255, 201, 38);
  border-radius: 0px;
  color: #FFC926;
  font-weight: bold;
  background-color: transparent;
  padding: 5%;
  -webkit-transition: background-color 1s, color 1s, border-radius 0.5s;
  transition: background-color 1s, color 1s, border-radius 0.5s;
}

#fatorDiv {
  background: url(fatordigital.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#googleDiv {
  background: url(google-partner.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#forWorkDiv {
  background: url(googleForWork.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#contact {
  position: absolute;
  top: 0%;
  right: 10%;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  float: right;
}

#formulario {
  min-width: 100%;
  height: 90%;
  margin-top: 15%;
  border: solid 1px #fff;
}

#formWrap {
  border: solid 3px #fff;
  margin-top: 2%;
  max-width: 100%;
  min-width: 100%;
}

#formColumn {
  border: solid 3px #fff;
  max-width: 100%;
  min-width: 100%;
}

#buttonWrap2 {
  border: solid 1px transparent;
  border-radius: 0px;
  height: 7%;
  padding: 1%;
  -webkit-transition: border 0.5s, width 0.5s, border-radius 0.5s;
  transition: border 0.5s, width 0.5s, border-radius 0.5s;
}

#submit {
  background-color: rgb(255, 201, 38);
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  height: 98%;
  width: 98%;
  margin-left: 1%;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

@media screen and (max-width: 1366px) {
  #presentation {
    width: 45%;
  }
  #marketingDigital {
    font-size: 60px;
  }

  #instituicoesDeEnsino  {
    font-size: 20px;
  }

  #paragrafo {
    font-size: 18px;
  }

  #icons {
    height: 10%;
  }
  #contact {
    width: 35%;
    right: 5%;
  }
  #formulario {
    margin-top: 0%;
  }
  #formWrap {
    margin-top: 0%;
  }
  #message {
    height: 15%;
  }

  ul li {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  #tudo
  {
      background-image: url(bg2short.png);
  }
}
